<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid ">
        <div class="nav-header ">
            <ul class="nav navbar-nav">
                <li>
                    <a class="head" style="color: blue;">Shopping Dashboard</a>
                    <a routerLink="/site" class="dash" style="margin-left: 25px;">Home</a>
                    <a routerLink="/men" class="dash">Men</a>
                    <a routerLink="/women" class="dash">Women</a>
                    <a routerLink="/watches" class="dash">Watches</a>
                    <a href="#" class="dash">Offer</a>
                </li>
            </ul>
        </div>
        <div class="nav-header">          
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dash2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                    </a>
                    <a routerLink="/Profile" class="dash2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                          </svg>
                    </a>
                    <a routerLink="/cart" class="dash2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>