.head{
    font-size: 25px;
    font-weight: bold;
    color:midnightblue;
    text-shadow: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}
.dash {
    color: black;
    font: 10px;
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
}
.Follow{
    text-align: left;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 50px;
}
.payment{
    font-size: 30px; 
    padding: 10px
}