<app-header></app-header>
<ion-content>
<div class="container-fluid">
  <div class="signup-form">
      <form action="/examples/actions/confirmation.php" method="post">
          <h2>LOG IN WITH SHOPPING DASHBOARD</h2>
          <div class="form-group">
              <input [(ngModel)]="email" type="email" name="email" class="form-control"  placeholder="Email" required="required">
          </div>
          <div class="form-group">
              <input [(ngModel)]="password" type="password" name="password" class="form-control"  placeholder="Password" required="required">
          </div>
          <div class="form-group">
              <button (click)="login()" type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
          </div>
      </form>
      <div class="text-center">Dont have an account <a routerLink="/signup" style="color: blue;">Create account</a></div>
  </div>
</div>
<app-footer></app-footer>
</ion-content>

