<app-header></app-header>
<ion-content>
<div class="container-fluid" style="padding: 40px;">
  <div class="signup-form">
      <form action="/examples/actions/confirmation.php" method="post">
          <h2>SIGN UP WITH SHOPPING DASHBOARD</h2>
          
          <div class="form-group">
              <input [(ngModel)]="name" type="name" name="name" class="form-control"  placeholder="Name" required="required">        	
          </div>
          <div class="form-group">
              <input [(ngModel)]="email" type="email" name="email" class="form-control"  placeholder="Email" required="required">
          </div>
          <div class="form-group">
              <input [(ngModel)]="password" type="password" name="password" class="form-control"  placeholder="Password" required="required">
          </div>
          <div class="form-group">
              <input [(ngModel)]="number" type="number" name="number" class="form-control" placeholder="Mobile Number" required="required">
          </div>        
          <div class="form-group">
              <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
          </div>
          <div class="form-group">
              <button (click)="RegisterUser()" type="submit" class="btn btn-primary btn-lg btn-block">Create an Account</button>
          </div>
      </form>
      <div class="text-center">Already have an account? <a routerLink="/login" style="color: blue;">Login</a></div>
  </div>
</div>
<app-footer></app-footer>
</ion-content>
