<div class="container-fluid">
  <div class="signup-form">
      <form action="/examples/actions/confirmation.php" method="post">
          <h2>SIGN UP WITH SHOPPER'S STOP</h2>
          
          <div class="form-group">
              <input type="name" class="form-control" name="email" placeholder="Name" required="required">        	
          </div>
          <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Email" required="required">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" required="required">
          </div>
          <div class="form-group">
              <input type="string" class="form-control" name="mobile_number" placeholder="Mobile Number" required="required">
          </div>        
          <div class="form-group">
              <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Create an Account</button>
          </div>
      </form>
      <div class="text-center">Already have an account? <a href="#">Login</a></div>
  </div>
</div>
