<app-header></app-header>
<ion-content>

<div class="container-fluid">
  <div class="wrapper">
    <div class="card">
          <div class="product-img">
            <div class="row">
                <div class="col-1">
                </div> 
                 <div class="col-10">
                  <div class="card-body" style="height: 100%;">
                     <img class="card-img-top shadow" [src]="imag" >
                  </div>
              </div>  
            </div>
          </div>
        
      
       
                 
        <div class="product-content">
            <h2 class="product-title" *ngFor="let prod of productdetails"> {{prod[1]}}</h2>
            <a href="https://www.myntra.com/" class="product-link">Visit Myntra Store</a>
            <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span>4.7(21)</span>
            </div>
            <div class="product-price">
                <p class="new-price" *ngFor="let prod of productdetails"> Price: <span>Rs. {{prod[0]}}</span></p>
            </div>
            <div class="product-detail" style="text-align: left;">
                <h2> About this item:</h2>
            
                <ul>
                  <li> Color: <span> Black</span></li>
                  <li> Available: <span> In Stock</span></li>
                  <li> Shipping Area <span> All over the world</span></li>
                  <li> Shipping Fee <span> Free</span></li>
                </ul>
            </div>
            <div class="purchase-info">
                <input type="number" min="0" value="1"  [(ngModel)]="quantity" >
            <button type="button" class="btn" (click)="cart()">
                Add to Cart <i class="fas fa-shopping-cart"></i>
            </button>
            <button type="button" class="btn">
               Compare
            </button>
            </div>
            <div class="social-links">
                <p>Share At:</p>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="#">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
</ion-content>
