<div class="container-fluid">
  <div class="signup-form">
      <form action="/examples/actions/confirmation.php" method="post">
          <h2>Profile Details</h2>
          
          <div class="form-group">
              <div class="row">
                  <div class="col"><input type="text" class="form-control" name="first_name" placeholder="Name" required="required"></div>
              </div>        	
          </div>
          <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Email" required="required">
          </div>
          <div class="form-group">
              <input type="string" class="form-control" name="mobile_number" placeholder="Mobile Number" required="required">
          </div>        
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Update Details</button>
          </div>
          <div class="change-password">
              <a href="#"> Change Password</a>
          </div>
      </form>
  </div>
</div>

