.container-fluid{
    margin-top: 20px;
    margin-bottom: 20px;
}
.col{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-deck{
    margin-top:20px;
    text-align: center;
    margin-left: 2.5%;
}
.buttons{
    text-align: center;
    margin-top: 20px;
}
.card{
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.another{
    margin-top:20px;
    text-align: center;
    margin-left: 10%;
}
.drop{
    margin-left: 50px;
}